@import url(https://fonts.googleapis.com/css?family=Roboto:300,500,100);

html,
body
{
    padding: 0;
    margin: 0;
    font: 300 16px Roboto, Arial, sans-serif;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f5f7f8;
    overflow: hidden;
}

.gallery
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-duration: 1s;
}

input
{
    display: none;
}

label
{
    cursor: pointer;
}

[data-item]
{
    transition: right 1s ease-out 0s, transform 1s ease-in-out 0s;
    position: relative;
    box-shadow: 0 0 59px 18px rgba(0,0,0,.05);
    background-color: #fff;
    color: #fff;
    transition-property: transform, margin;
    transition-duration: 1s;
}

img
{
    object-fit: contain;
    height: 200px;
    width: 200px;
}

#image1:checked ~ .gallery
{
    margin-left: 440px;
}

#image2:checked ~ .gallery
{
    margin-left: 280px;
}

#image3:checked ~ .gallery
{
    margin-left: 140px;
}

#image5:checked ~ .gallery
{
    margin-left: -140px;
}

#image6:checked ~ .gallery
{
    margin-left: -280px;
}

#image7:checked ~ .gallery
{
    margin-left: -440px;
}

#image1:checked ~ .gallery [data-item]:nth-of-type(7)
{
    transform: perspective(500px) rotateY(-5deg) translateZ(-90px);
}

#image1:checked ~ .gallery [data-item]:nth-of-type(6),
#image2:checked ~ .gallery [data-item]:nth-of-type(7)
{
    transform: perspective(500px) rotateY(-15deg) translateZ(-90px);
}

#image1:checked ~ .gallery [data-item]:nth-of-type(5),
#image2:checked ~ .gallery [data-item]:nth-of-type(6),
#image3:checked ~ .gallery [data-item]:nth-of-type(7)
{
    transform: perspective(500px) rotateY(-20deg) translateZ(-90px);
}

#image1:checked ~ .gallery [data-item]:nth-of-type(4),
#image2:checked ~ .gallery [data-item]:nth-of-type(5),
#image3:checked ~ .gallery [data-item]:nth-of-type(6),
#image4:checked ~ .gallery [data-item]:nth-of-type(7)
{
    transform: perspective(500px) rotateY(-25deg) translateZ(-90px);
}

#image1:checked ~ .gallery [data-item]:nth-of-type(3),
#image2:checked ~ .gallery [data-item]:nth-of-type(4),
#image3:checked ~ .gallery [data-item]:nth-of-type(5),
#image4:checked ~ .gallery [data-item]:nth-of-type(6),
#image5:checked ~ .gallery [data-item]:nth-of-type(7)
{
    transform: perspective(500px) rotateY(-30deg) translateZ(-90px);
}

#image1:checked ~ .gallery [data-item]:nth-of-type(2),
#image2:checked ~ .gallery [data-item]:nth-of-type(3),
#image3:checked ~ .gallery [data-item]:nth-of-type(4),
#image4:checked ~ .gallery [data-item]:nth-of-type(5),
#image5:checked ~ .gallery [data-item]:nth-of-type(6),
#image6:checked ~ .gallery [data-item]:nth-of-type(7)
{
    transform: perspective(500px) rotateY(-35deg) translateZ(-90px);
}

#image7:checked ~ .gallery [data-item]:nth-of-type(1)
{
    transform: perspective(500px) rotateY(5deg) translateZ(-90px);
}

#image6:checked ~ .gallery [data-item]:nth-of-type(1),
#image7:checked ~ .gallery [data-item]:nth-of-type(2)
{
    transform: perspective(500px) rotateY(15deg) translateZ(-90px);
}

#image5:checked ~ .gallery [data-item]:nth-of-type(1),
#image6:checked ~ .gallery [data-item]:nth-of-type(2),
#image7:checked ~ .gallery [data-item]:nth-of-type(3)
{
    transform: perspective(500px) rotateY(20deg) translateZ(-90px);
}

#image4:checked ~ .gallery [data-item]:nth-of-type(1),
#image5:checked ~ .gallery [data-item]:nth-of-type(2),
#image6:checked ~ .gallery [data-item]:nth-of-type(3),
#image7:checked ~ .gallery [data-item]:nth-of-type(4)
{
    transform: perspective(500px) rotateY(25deg) translateZ(-90px);
}

#image3:checked ~ .gallery [data-item]:nth-of-type(1),
#image4:checked ~ .gallery [data-item]:nth-of-type(2),
#image5:checked ~ .gallery [data-item]:nth-of-type(3),
#image6:checked ~ .gallery [data-item]:nth-of-type(4),
#image7:checked ~ .gallery [data-item]:nth-of-type(5)
{
    transform: perspective(500px) rotateY(30deg) translateZ(-90px);
}

#image2:checked ~ .gallery [data-item]:nth-of-type(1),
#image3:checked ~ .gallery [data-item]:nth-of-type(2),
#image4:checked ~ .gallery [data-item]:nth-of-type(3),
#image5:checked ~ .gallery [data-item]:nth-of-type(4),
#image6:checked ~ .gallery [data-item]:nth-of-type(5),
#image7:checked ~ .gallery [data-item]:nth-of-type(6)
{
    transform: perspective(500px) rotateY(35deg) translateZ(-90px);
}

#image1:checked ~ .gallery [data-item]:nth-of-type(1),
#image2:checked ~ .gallery [data-item]:nth-of-type(2),
#image3:checked ~ .gallery [data-item]:nth-of-type(3),
#image4:checked ~ .gallery [data-item]:nth-of-type(4),
#image5:checked ~ .gallery [data-item]:nth-of-type(5),
#image6:checked ~ .gallery [data-item]:nth-of-type(6),
#image7:checked ~ .gallery [data-item]:nth-of-type(7)
{
    transform: perspective(500px) translateZ(0);
    margin: 0 -100px;
    z-index: 7;
}

#image1:checked ~ .gallery [data-item]:nth-of-type(2),
#image2:checked ~ .gallery [data-item]:nth-of-type(1),
#image2:checked ~ .gallery [data-item]:nth-of-type(3),
#image3:checked ~ .gallery [data-item]:nth-of-type(2),
#image3:checked ~ .gallery [data-item]:nth-of-type(4),
#image4:checked ~ .gallery [data-item]:nth-of-type(3),
#image4:checked ~ .gallery [data-item]:nth-of-type(5),
#image5:checked ~ .gallery [data-item]:nth-of-type(4),
#image5:checked ~ .gallery [data-item]:nth-of-type(6),
#image6:checked ~ .gallery [data-item]:nth-of-type(5),
#image6:checked ~ .gallery [data-item]:nth-of-type(7),
#image7:checked ~ .gallery [data-item]:nth-of-type(6)
{
    z-index: 6;
}

#image1:checked ~ .gallery [data-item]:nth-of-type(3),
#image2:checked ~ .gallery [data-item]:nth-of-type(4),
#image3:checked ~ .gallery [data-item]:nth-of-type(1),
#image3:checked ~ .gallery [data-item]:nth-of-type(5),
#image4:checked ~ .gallery [data-item]:nth-of-type(2),
#image4:checked ~ .gallery [data-item]:nth-of-type(6),
#image5:checked ~ .gallery [data-item]:nth-of-type(3),
#image5:checked ~ .gallery [data-item]:nth-of-type(7),
#image6:checked ~ .gallery [data-item]:nth-of-type(4),
#image7:checked ~ .gallery [data-item]:nth-of-type(5)
{
    z-index: 5;
}

#image1:checked ~ .gallery [data-item]:nth-of-type(4),
#image2:checked ~ .gallery [data-item]:nth-of-type(5),
#image3:checked ~ .gallery [data-item]:nth-of-type(6),
#image4:checked ~ .gallery [data-item]:nth-of-type(1),
#image4:checked ~ .gallery [data-item]:nth-of-type(7),
#image5:checked ~ .gallery [data-item]:nth-of-type(2),
#image6:checked ~ .gallery [data-item]:nth-of-type(3),
#image7:checked ~ .gallery [data-item]:nth-of-type(4)
{
    z-index: 4;
}

#image1:checked ~ .gallery [data-item]:nth-of-type(5),
#image2:checked ~ .gallery [data-item]:nth-of-type(6),
#image3:checked ~ .gallery [data-item]:nth-of-type(7),
#image5:checked ~ .gallery [data-item]:nth-of-type(1),
#image6:checked ~ .gallery [data-item]:nth-of-type(2),
#image7:checked ~ .gallery [data-item]:nth-of-type(3)
{
    z-index: 3;
}

#image1:checked ~ .gallery [data-item]:nth-of-type(6),
#image2:checked ~ .gallery [data-item]:nth-of-type(7),
#image6:checked ~ .gallery [data-item]:nth-of-type(1),
#image7:checked ~ .gallery [data-item]:nth-of-type(2)
{
    z-index: 2;
}

#image1:checked ~ .gallery [data-item]:nth-of-type(7),
#image7:checked ~ .gallery [data-item]:nth-of-type(1)
{
    z-index: 1;
}

#image2:checked ~ .gallery [data-item]:nth-of-type(1),
#image3:checked ~ .gallery [data-item]:nth-of-type(2),
#image4:checked ~ .gallery [data-item]:nth-of-type(3),
#image5:checked ~ .gallery [data-item]:nth-of-type(4),
#image6:checked ~ .gallery [data-item]:nth-of-type(5),
#image7:checked ~ .gallery [data-item]:nth-of-type(6)
{
    margin-left: -110px;
}

#image3:checked ~ .gallery [data-item]:nth-of-type(1),
#image4:checked ~ .gallery [data-item]:nth-of-type(1),
#image4:checked ~ .gallery [data-item]:nth-of-type(2),
#image5:checked ~ .gallery [data-item]:nth-of-type(1),
#image5:checked ~ .gallery [data-item]:nth-of-type(2),
#image5:checked ~ .gallery [data-item]:nth-of-type(3),
#image6:checked ~ .gallery [data-item]:nth-of-type(1),
#image6:checked ~ .gallery [data-item]:nth-of-type(2),
#image6:checked ~ .gallery [data-item]:nth-of-type(3),
#image6:checked ~ .gallery [data-item]:nth-of-type(4),
#image7:checked ~ .gallery [data-item]:nth-of-type(1),
#image7:checked ~ .gallery [data-item]:nth-of-type(2),
#image7:checked ~ .gallery [data-item]:nth-of-type(3),
#image7:checked ~ .gallery [data-item]:nth-of-type(4),
#image7:checked ~ .gallery [data-item]:nth-of-type(5)
{
    margin-left: -130px;
}

#image1:checked ~ .gallery [data-item]:nth-of-type(2),
#image2:checked ~ .gallery [data-item]:nth-of-type(3),
#image3:checked ~ .gallery [data-item]:nth-of-type(4),
#image4:checked ~ .gallery [data-item]:nth-of-type(5),
#image5:checked ~ .gallery [data-item]:nth-of-type(6),
#image6:checked ~ .gallery [data-item]:nth-of-type(7)
{
    margin-right: -110px;
}

#image1:checked ~ .gallery [data-item]:nth-of-type(3),
#image1:checked ~ .gallery [data-item]:nth-of-type(4),
#image1:checked ~ .gallery [data-item]:nth-of-type(5),
#image1:checked ~ .gallery [data-item]:nth-of-type(6),
#image1:checked ~ .gallery [data-item]:nth-of-type(7),
#image2:checked ~ .gallery [data-item]:nth-of-type(4),
#image2:checked ~ .gallery [data-item]:nth-of-type(5),
#image2:checked ~ .gallery [data-item]:nth-of-type(6),
#image2:checked ~ .gallery [data-item]:nth-of-type(7),
#image3:checked ~ .gallery [data-item]:nth-of-type(5),
#image3:checked ~ .gallery [data-item]:nth-of-type(6),
#image3:checked ~ .gallery [data-item]:nth-of-type(7),
#image4:checked ~ .gallery [data-item]:nth-of-type(6),
#image4:checked ~ .gallery [data-item]:nth-of-type(7),
#image5:checked ~ .gallery [data-item]:nth-of-type(7)
{
    margin-right: -130px;
}

figure
{
    height: 200px;
    width: 200px;
    margin: 0;
}

figure figcaption::before,
figure label.btn
{
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    opacity: 0;
    transition: opacity .35s, transform .35s;
}

figure figcaption::before
{
    border: 1px solid #fff;
    box-shadow: 0 0 0 30px rgba(0,0,0,.2);
    content: '';
    transform: scale3d(1.4,1.4,1);
}

figure label.btn
{
    display: none;
    text-align: center;
    text-transform: uppercase;
    line-height: 150px;
    font-size: 14px;
    cursor: pointer;
}

#image1:checked ~ .gallery figure.image1:hover label.btn,
#image2:checked ~ .gallery figure.image2:hover label.btn,
#image3:checked ~ .gallery figure.image3:hover label.btn,
#image4:checked ~ .gallery figure.image4:hover label.btn,
#image5:checked ~ .gallery figure.image5:hover label.btn,
#image6:checked ~ .gallery figure.image6:hover label.btn,
#image7:checked ~ .gallery figure.image7:hover label.btn
{
    display: inline-block;
    opacity: 1;
    transform: scale3d(1,1,1);
}

#image1:checked ~ .gallery figure.image1:hover figcaption::before,
#image2:checked ~ .gallery figure.image2:hover figcaption::before,
#image3:checked ~ .gallery figure.image3:hover figcaption::before,
#image4:checked ~ .gallery figure.image4:hover figcaption::before,
#image5:checked ~ .gallery figure.image5:hover figcaption::before,
#image6:checked ~ .gallery figure.image6:hover figcaption::before,
#image7:checked ~ .gallery figure.image7:hover figcaption::before
{
    background-color: rgba(0,0,0,.2);
    opacity: 1;
    transform: scale3d(1,1,1);
}

.back
{
    position: absolute;
    display: none;
}

.recipe
{
    padding: 40px;
    color: #373737;
    overflow: auto;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.content
{
    display: flex;
    min-height: 200px;
}

.content > div:first-child
{
    padding: 10px;
    margin-right: 20px;
    width: 35%;
}

ul
{
    padding-left: 0;
}

.content > div:first-child li
{
    list-style: none;
    padding-bottom: 8px;
}

.content > div:last-child
{
    width: 65%;
    padding: 10px;
}

.content > div:last-child li
{
    list-style: decimal inside;
}

#open1:checked ~ .gallery figure.image1 .back,
#open2:checked ~ .gallery figure.image2 .back,
#open3:checked ~ .gallery figure.image3 .back,
#open4:checked ~ .gallery figure.image4 .back,
#open5:checked ~ .gallery figure.image5 .back,
#open6:checked ~ .gallery figure.image6 .back,
#open7:checked ~ .gallery figure.image7 .back
{
    display: block;
    position: absolute;
    z-index: 1000;
    top: -46vh;
    bottom: -46vh;
    right: -50vw;
    left: -50vw;
    background-color: rgba(0,0,0,.2);
}

/*#open1:checked ~ .gallery figure.image1 .back,*/
/*#open2:checked ~ .gallery figure.image2 .back,*/
/*#open3:checked ~ .gallery figure.image3 .back,*/
/*#open4:checked ~ .gallery figure.image4 .back,*/
/*#open5:checked ~ .gallery figure.image5 .back,*/
/*#open6:checked ~ .gallery figure.image6 .back,*/
/*#open7:checked ~ .gallery figure.image7 .back*/
/*{*/
    /*animation: rotationOpenSecondPart 2s linear;*/
/*}*/

/*#open1:checked ~ .gallery [data-item]:nth-of-type(1),*/
/*#open2:checked ~ .gallery [data-item]:nth-of-type(2),*/
/*#open3:checked ~ .gallery [data-item]:nth-of-type(3),*/
/*#open4:checked ~ .gallery [data-item]:nth-of-type(4),*/
/*#open5:checked ~ .gallery [data-item]:nth-of-type(5),*/
/*#open6:checked ~ .gallery [data-item]:nth-of-type(6),*/
/*#open7:checked ~ .gallery [data-item]:nth-of-type(7)*/
/*{*/
    /*animation: rotationOpenFirstPart 2s linear;*/
/*}*/

/*#close1:checked ~ .gallery [data-item]:nth-of-type(1),*/
/*#close2:checked ~ .gallery [data-item]:nth-of-type(2),*/
/*#close3:checked ~ .gallery [data-item]:nth-of-type(3),*/
/*#close4:checked ~ .gallery [data-item]:nth-of-type(4),*/
/*#close5:checked ~ .gallery [data-item]:nth-of-type(5),*/
/*#close6:checked ~ .gallery [data-item]:nth-of-type(6),*/
/*#close7:checked ~ .gallery [data-item]:nth-of-type(7)*/
/*{*/
    /*position: relative;*/
    /*top: 0;*/
    /*animation: rotationClose 1s linear;*/
/*}*/

#open1:checked ~ .gallery figure.image1 .recipe,
#open2:checked ~ .gallery figure.image2 .recipe,
#open3:checked ~ .gallery figure.image3 .recipe,
#open4:checked ~ .gallery figure.image4 .recipe,
#open5:checked ~ .gallery figure.image5 .recipe,
#open6:checked ~ .gallery figure.image6 .recipe,
#open7:checked ~ .gallery figure.image7 .recipe
{
    display: block;
    position: absolute;
    z-index: 1000;
    top: 20vh;
    bottom: 20vh;
    right: 25vw;
    left: 25vw;
    min-width: 500px;
    min-height: 300px;
    background-color: #f5f7f8;
    border: 1px solid rgba(0,0,0,.1);
}

input[id^="open"]:checked ~ .gallery [data-item]:nth-of-type(n) .back
{
    animation: fade 2s;
}

input[id^="open"]:checked ~ .gallery [data-item]:nth-of-type(2n) .back,
{
    animation: bounce 2s;
}

input[id^="open"]:checked ~ .gallery [data-item]:nth-of-type(3n) .back
{
    animation: scaling 2s linear;
}

input[id^="open"]:checked ~ .gallery [data-item]:nth-of-type(5n) .recipe
{
    animation: rounding 2s linear;
}

input[id^="open"]:checked ~ .gallery [data-item]:nth-of-type(7n) .back
{
    animation: flash .8s;
}

.gallery .recipe img
{
    width: 20px;
    height: 20px;
    position: relative;
    top: -15px;
    right: -15px;
    float: right;
    cursor: pointer;
}

@keyframes rotationOpenFirstPart
{
    0%
    {
        display: block;
        position: relative;
        top: 0;
    }
    50%
    {
        display: block;
        position: relative;
        top: -200px;
        transform: rotateX(-110deg);
        opacity: 1;
    }
    51%
    {
        display: block;
        position: relative;
        top: -200px;
        transform: rotateX(-110deg);
        opacity: 1;
    }
    100%
    {
        display: block;
        position: relative;
        top: 0;
        transform: rotateX(-360deg);
        opacity: 1;
    }
}

@keyframes rotationOpenSecondPart
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 0;
        z-index: 1000;
    }
    51%
    {
        opacity: 1;
        z-index: 1000;
        transform: scale(.3);
        background-color: rgba(0,0,0,0);
    }
    70%
    {
        opacity: 1;
        z-index: 1000;
        transform: scale(.7);
        background-color: rgba(0,0,0,0);
    }
    80%
    {
        opacity: 1;
        z-index: 1000;
        transform: scale(.8);
        background-color: rgba(0,0,0,0);
    }
    90%
    {
        opacity: 1;
        z-index: 1000;
        transform: scale(.9);
        background-color: rgba(0,0,0,.1);
    }
    100%
    {
        opacity: 1;
        z-index: 1000;
        transform: scale(1);
        background-color: rgba(0,0,0,.2);
    }
}

@keyframes rotationClose
{
    0%
    {
        transform: perspective(500px) rotateX(-360deg);
        opacity: 1;
    }
    30%
    {
        transform: perspective(500px) rotateX(-180deg);
        position: relative;
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    51%
    {
        position: relative;
        top: -200px;
        transform: perspective(500px) rotateX(-90deg);
        opacity: 1;
    }
    100%
    {
        position: relative;
        top: 0;
    }
}

@keyframes scaling
{
    From
    {
        transform: scale(0);
        background-color: rgba(0,0,0,0);
    }
    To
    {
        transform: scale(1);
        background-color: rgba(0,0,0,0);
    }
}

@keyframes rounding
{
    From
    {
        border-radius: 70%;
        transform: scale(0);
    }
    To
    {
        border-radius: 0;
        transform: scale(1);
    }
}

@keyframes bounce
{
    0%,
    20%,
    50%,
    80%,
    100%
    {
        transform: translateY(0);
    }
    40%
    {
        transform: translateY(-30px);
    }
    60%
    {
        transform: translateY(-15px);
    }
}

@keyframes fade
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes flash
{
    0%,
    50%,
    100%
    {
        opacity: 1;
    }
    25%,
    75%
    {
        opacity: .2;
    }
}
