.wrapper
{
    perspective: 300px;
    width: 100%;
    margin-top: 200px;
    height: 200px;
}

.inner
{
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 200px;
    box-shadow: 0 2px 4px 2px #505050;
}

.inner.img_1
{
    background: url('http://lorempixel.com/image_output/food-q-c-300-200-1.jpg') no-repeat;
}

.inner.img_2
{
    background: url('http://lorempixel.com/image_output/food-q-c-300-200-4.jpg') no-repeat;
}

.inner.img_3
{
    background: url('http://lorempixel.com/image_output/food-q-c-300-200-2.jpg') no-repeat;
}

.inner.img_4
{
    background: url('http://lorempixel.com/image_output/food-q-c-300-200-3.jpg') no-repeat;
}

.inner.img_5
{
    background: url('http://lorempixel.com/image_output/food-q-c-300-200-5.jpg') no-repeat;
}

.inner.img_6
{
    background: url('http://lorempixel.com/image_output/food-q-c-300-200-6.jpg') no-repeat;
}

.inner.img_7
{
    background: url('http://lorempixel.com/image_output/food-q-c-300-200-7.jpg') no-repeat;
}

.visible
{
    visibility: hidden;
}

/* 
=====================
RADIO1
=====================
*/
#radio1:checked + #radio2 + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img1
{
    transition: .5s;
    transform: translate(0, 0) rotateY(0deg);
    z-index: 8;
}

#radio1:checked + #radio2 + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img2
{
    transition: .5s;
    transform: translate(100px, 0) rotateY(-20deg) scaleY(.75);
    z-index: 6;
}

#radio1:checked + #radio2 + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img3
{
    transition: .5s;
    transform: translate(150px, 0) rotateY(-30deg) scaleY(.75);
    z-index: 5;
}

#radio1:checked + #radio2 + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img4
{
    transition: .5s;
    transform: translate(200px, 0) rotateY(-40deg) scaleY(.75);
    z-index: 4;
}

#radio1:checked + #radio2 + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img5
{
    transition: .5s;
    transform: translate(230px, 0) rotateY(-50deg) scaleY(.75);
    z-index: 3;
}

#radio1:checked + #radio2 + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img6
{
    transition: .5s;
    transform: translate(260px, 0) rotateY(-60deg) scaleY(.75);
    z-index: 2;
}

#radio1:checked + #radio2 + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img7
{
    transition: .5s;
    transform: translate(300px, 0) rotateY(-70deg) scaleY(.75);
    z-index: 1;
}

/*
=====================
RADIO2
=====================
*/
#radio2:checked + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img1
{
    transition: .5s;
    transform: translate(-100px, 0) rotateY(30deg) scaleY(.75);
    z-index: 6;
}

#radio2:checked + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img2
{
    transition: .5s;
    transform: translate(0, 0) rotateY(0deg);
    z-index: 7;
}

#radio2:checked + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img3
{
    transition: .5s;
    transform: translate(100px, 0) rotateY(-25deg) scaleY(.75);
    z-index: 5;
}

#radio2:checked + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img4
{
    transition: .5s;
    transform: translate(150px, 0) rotateY(-30deg) scaleY(.75);
    z-index: 4;
}

#radio2:checked + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img5
{
    transition: .5s;
    transform: translate(200px, 0) rotateY(-35deg) scaleY(.75);
    z-index: 3;
}

#radio2:checked + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img6
{
    transition: .5s;
    transform: translate(230px, 0) rotateY(-40deg) scaleY(.75);
    z-index: 2;
}

#radio2:checked + #radio3 + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img7
{
    transition: .5s;
    transform: translate(260px, 0) rotateY(-45deg) scaleY(.75);
    z-index: 1;
}

/*
=====================
RADIO3
=====================
*/
#radio3:checked + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img1
{
    transition: .5s;
    transform: translate(-150px, 0) rotateY(35deg) scaleY(.75);
    z-index: 4;
}

#radio3:checked + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img2
{
    transition: .5s;
    transform: translate(-100px, 0) rotateY(30deg) scaleY(.75);
    z-index: 5;
}

#radio3:checked + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img3
{
    transition: .5s;
    transform: translate(0, 0) rotateY(0deg);
    z-index: 6;
}

#radio3:checked + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img4
{
    transition: .5s;
    transform: translate(100px, 0) rotateY(-30deg) scaleY(.75);
    z-index: 3;
}

#radio3:checked + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img5
{
    transition: .5s;
    transform: translate(150px, 0) rotateY(-35deg) scaleY(.75);
    z-index: 2;
}

#radio3:checked + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img6
{
    transition: .5s;
    transform: translate(200px, 0) rotateY(-40deg) scaleY(.75);
    z-index: 1;
}

#radio3:checked + #radio4 + #radio5 + #radio6 + #radio7 + div.wrapper #img7
{
    transition: .5s;
    transform: translate(230px, 0) rotateY(-45deg) scaleY(.75);
    z-index: 0;
}

/*
=====================
RADIO4
=====================
*/
#radio4:checked + #radio5 + #radio6 + #radio7 + div.wrapper #img1
{
    transition: .5s;
    transform: translate(-300px, 0) rotateY(45deg) scaleY(.75);
    z-index: 0;
}

#radio4:checked + #radio5 + #radio6 + #radio7 + div.wrapper #img2
{
    transition: .5s;
    transform: translate(-200px, 0) rotateY(40deg) scaleY(.75);
    z-index: 1;
}

#radio4:checked + #radio5 + #radio6 + #radio7 + div.wrapper #img3
{
    transition: .5s;
    transform: translate(-100px, 0) rotateY(35deg) scaleY(.75);
    z-index: 2;
}

#radio4:checked + #radio5 + #radio6 + #radio7 + div.wrapper #img4
{
    transition: .5s;
    transform: translate(0, 0) rotateY(0deg);
    z-index: 3;
}

#radio4:checked + #radio5 + #radio6 + #radio7 + div.wrapper #img5
{
    transition: .5s;
    transform: translate( 100px, 0) rotateY(-35deg) scaleY(.75);
    z-index: 2;
}

#radio4:checked + #radio5 + #radio6 + #radio7 + div.wrapper #img6
{
    transition: .5s;
    transform: translate( 200px, 0) rotateY(-40deg) scaleY(.75);
    z-index: 1;
}

#radio4:checked + #radio5 + #radio6 + #radio7 + div.wrapper #img7
{
    transition: .5s;
    transform: translate( 300px, 0) rotateY(-45deg) scaleY(.75);
    z-index: 0;
}

/*
=====================
RADIO5
=====================
*/
#radio5:checked + #radio6 + #radio7 + div.wrapper #img1
{
    transition: .5s;
    transform: translate(-230px, 0) rotateY(45deg) scaleY(.75);
    z-index: 0;
}

#radio5:checked + #radio6 + #radio7 + div.wrapper #img2
{
    transition: .5s;
    transform: translate(-200px, 0) rotateY(40deg) scaleY(.75);
    z-index: 1;
}

#radio5:checked + #radio6 + #radio7 + div.wrapper #img3
{
    transition: .5s;
    transform: translate(-150px, 0) rotateY(35deg) scaleY(.75);
    z-index: 2;
}

#radio5:checked + #radio6 + #radio7 + div.wrapper #img4
{
    transition: .5s;
    transform: translate(-100px, 0) rotateY(30deg) scaleY(.75);
    z-index: 3;
}

#radio5:checked + #radio6 + #radio7 + div.wrapper #img5
{
    transition: .5s;
    transform: translate(0, 0) rotateY(0deg);
    z-index: 4;
}

#radio5:checked + #radio6 + #radio7 + div.wrapper #img6
{
    transition: .5s;
    transform: translate(100px, 0) rotateY(-30deg) scaleY(.75);
    z-index: 2;
}

#radio5:checked + #radio6 + #radio7 + div.wrapper #img7
{
    transition: .5s;
    transform: translate(150px, 0) rotateY(-35deg) scaleY(.75);
    z-index: 1;
}

/*
=====================
RADIO6
=====================
*/
#radio6:checked + #radio7 + div.wrapper #img1
{
    transition: .5s;
    transform: translate(-260px, 0) rotateY(45deg) scaleY(.75);
    z-index: 0;
}

#radio6:checked + #radio7 + div.wrapper #img2
{
    transition: .5s;
    transform: translate(-230px, 0) rotateY(40deg) scaleY(.75);
    z-index: 1;
}

#radio6:checked + #radio7 + div.wrapper #img3
{
    transition: .5s;
    transform: translate(-200px, 0) rotateY(35deg) scaleY(.75);
    z-index: 2;
}

#radio6:checked + #radio7 + div.wrapper #img4
{
    transition: .5s;
    transform: translate(-150px, 0) rotateY(30deg) scaleY(.75);
    z-index: 3;
}

#radio6:checked + #radio7 + div.wrapper #img5
{
    transition: .5s;
    transform: translate(-100px, 0) rotateY(25deg) scaleY(.75);
    z-index: 4;
}

#radio6:checked + #radio7 + div.wrapper #img6
{
    transition: .5s;
    transform: translate(0, 0) rotateY(0deg);
    z-index: 6;
}

#radio6:checked + #radio7 + div.wrapper #img7
{
    transition: .5s;
    transform: translate(100px, 0) rotateY(-45deg) scaleY(.75);
    z-index: 5;
}

/*
=====================
RADIO7
=====================
*/
#radio7:checked + div.wrapper #img1
{
    transition: .5s;
    transform: translate(-300px, 0) rotateY(70deg) scaleY(.75);
    z-index: 0;
}

#radio7:checked + div.wrapper #img2
{
    transition: .5s;
    transform: translate(-260px, 0) rotateY(60deg) scaleY(.75);
    z-index: 1;
}

#radio7:checked + div.wrapper #img3
{
    transition: .5s;
    transform: translate(-230px, 0) rotateY(50deg) scaleY(.75);
    z-index: 2;
}

#radio7:checked + div.wrapper #img4
{
    transition: .5s;
    transform: translate(-200px, 0) rotateY(40deg) scaleY(.75);
    z-index: 3;
}

#radio7:checked + div.wrapper #img5
{
    transition: .5s;
    transform: translate(-150px, 0) rotateY(30deg) scaleY(.75);
    z-index: 4;
}

#radio7:checked + div.wrapper #img6
{
    transition: .5s;
    transform: translate(-100px, 0) rotateY(20deg) scaleY(.75);
    z-index: 5;
}

#radio7:checked + div.wrapper #img7
{
    transition: .5s;
    transform: translate(0, 0) rotateY(0deg);
    z-index: 6;
}
