body
{
    margin: 0 auto;
    width: 900px;
    overflow: hidden;
}
.gallery
{
    margin: 200px 0;
    width: 900px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.gallery > input
{
    display: none;
}
.wrapper > input
{
    display: none;
}
.wrapper
{
    display: flex;
    justify-content: center;
    transition-property: margin;
    transition-duration: .2s;
}
.wrap
{
    background: #fff;
    position: relative;
    display: flex;
    box-shadow: 1px 1px 10px #000;
    transition-property: transform, margin;
    transition-duration: .2s;
}
.pic > img
{
    width: 300px;
}
input[id='uno']:checked ~ .wrapper
{
    margin-left: 900px;
}
input[id='dos']:checked ~ .wrapper
{
    margin-left: 600px;
}
input[id='tres']:checked ~ .wrapper
{
    margin-left: 300px;
}
input[id='cinco']:checked ~ .wrapper
{
    margin-left: -300px;
}
input[id='sies']:checked ~ .wrapper
{
    margin-left: -600px;
}
input[id='siete']:checked ~ .wrapper
{
    margin-left: -900px;
}
input[id='uno']:checked ~ .wrapper > .uno,
input[id='dos']:checked ~ .wrapper > .dos,
input[id='tres']:checked ~ .wrapper > .tres,
input[id='cuatro']:checked ~ .wrapper > .cuatro,
input[id='cinco']:checked ~ .wrapper > .cinco,
input[id='sies']:checked ~ .wrapper > .sies,
input[id='siete']:checked ~ .wrapper > .siete
{
    transform: perspective(350px) rotateY(0deg);
    margin: 0 -100px;
}
input[id='dos']:checked ~ .wrapper > .uno,
input[id='tres']:checked ~ .wrapper > .uno,
input[id='tres']:checked ~ .wrapper > .dos,
input[id='cuatro']:checked ~ .wrapper > .uno,
input[id='cuatro']:checked ~ .wrapper > .dos,
input[id='cuatro']:checked ~ .wrapper > .tres,
input[id='cinco']:checked ~ .wrapper > .uno,
input[id='cinco']:checked ~ .wrapper > .dos,
input[id='cinco']:checked ~ .wrapper > .tres,
input[id='cinco']:checked ~ .wrapper > .cuatro,
input[id='sies']:checked ~ .wrapper > .uno,
input[id='sies']:checked ~ .wrapper > .dos,
input[id='sies']:checked ~ .wrapper > .tres,
input[id='sies']:checked ~ .wrapper > .cuatro,
input[id='sies']:checked ~ .wrapper > .cinco,
input[id='siete']:checked ~ .wrapper > .uno,
input[id='siete']:checked ~ .wrapper > .dos,
input[id='siete']:checked ~ .wrapper > .tres,
input[id='siete']:checked ~ .wrapper > .cuatro,
input[id='siete']:checked ~ .wrapper > .cinco,
input[id='siete']:checked ~ .wrapper > .sies
{
    transform: perspective(350px) rotateY(25deg);
    margin-left: -150px;
}
input[id='uno']:checked ~ .wrapper > .dos,
input[id='uno']:checked ~ .wrapper > .tres,
input[id='uno']:checked ~ .wrapper > .cuatro,
input[id='uno']:checked ~ .wrapper > .cinco,
input[id='uno']:checked ~ .wrapper > .sies,
input[id='uno']:checked ~ .wrapper > .siete,
input[id='dos']:checked ~ .wrapper > .tres,
input[id='dos']:checked ~ .wrapper > .cuatro,
input[id='dos']:checked ~ .wrapper > .cinco,
input[id='dos']:checked ~ .wrapper > .sies,
input[id='dos']:checked ~ .wrapper > .siete,
input[id='tres']:checked ~ .wrapper > .cuatro,
input[id='tres']:checked ~ .wrapper > .cinco,
input[id='tres']:checked ~ .wrapper > .sies,
input[id='tres']:checked ~ .wrapper > .siete,
input[id='cuatro']:checked ~ .wrapper > .cinco,
input[id='cuatro']:checked ~ .wrapper > .sies,
input[id='cuatro']:checked ~ .wrapper > .siete,
input[id='cinco']:checked ~ .wrapper > .sies,
input[id='cinco']:checked ~ .wrapper > .siete,
input[id='sies']:checked ~ .wrapper > .siete
{
    transform: perspective(350px) rotateY(-25deg);
    margin-right: -150px;
}
input[id='uno']:checked ~ .wrapper > .siete,
input[id='dos']:checked ~ .wrapper > .siete,
input[id='tres']:checked ~ .wrapper > .uno,
input[id='tres']:checked ~ .wrapper > .siete,
input[id='cuatro']:checked ~ .wrapper > .uno,
input[id='cuatro']:checked ~ .wrapper > .siete,
input[id='cinco']:checked ~ .wrapper > .uno,
input[id='cinco']:checked ~ .wrapper > .siete,
input[id='sies']:checked ~ .wrapper > .uno,
input[id='sies']:checked ~ .wrapper > .siete,
input[id='siete']:checked ~ .wrapper > .uno
{
    z-index: 1;
}
input[id='uno']:checked ~ .wrapper > .sies,
input[id='dos']:checked ~ .wrapper > .sies,
input[id='siete']:checked ~ .wrapper > .dos
{
    z-index: 2;
}
input[id='uno']:checked ~ .wrapper > .cinco,
input[id='dos']:checked ~ .wrapper > .cinco,
input[id='tres']:checked ~ .wrapper > .dos,
input[id='tres']:checked ~ .wrapper > .sies,
input[id='cuatro']:checked ~ .wrapper > .dos,
input[id='cuatro']:checked ~ .wrapper > .sies,
input[id='cinco']:checked ~ .wrapper > .dos,
input[id='cinco']:checked ~ .wrapper > .sies,
input[id='sies']:checked ~ .wrapper > .dos,
input[id='siete']:checked ~ .wrapper > .tres
{
    z-index: 3;
}
input[id='siete']:checked ~ .wrapper > .cuatro,
input[id='sies']:checked ~ .wrapper > .tres,
input[id='dos']:checked ~ .wrapper > .cuatro,
input[id='uno']:checked ~ .wrapper > .cuatro
{
    z-index: 4;
}
input[id='uno']:checked ~ .wrapper > .tres,
input[id='dos']:checked ~ .wrapper > .tres,
input[id='tres']:checked ~ .wrapper > .cinco,
input[id='cuatro']:checked ~ .wrapper > .tres,
input[id='cuatro']:checked ~ .wrapper > .cinco,
input[id='cinco']:checked ~ .wrapper > .tres,
input[id='sies']:checked ~ .wrapper > .cuatro,
input[id='siete']:checked ~ .wrapper > .cinco
{
    z-index: 5;
}
input[id='siete']:checked ~ .wrapper > .sies,
input[id='sies']:checked ~ .wrapper > .cinco,
input[id='cinco']:checked ~ .wrapper > .cuatro,
input[id='tres']:checked ~ .wrapper > .cuatro,
input[id='dos']:checked ~ .wrapper > .uno,
input[id='uno']:checked ~ .wrapper > .dos
{
    z-index: 6;
}
input[id='uno']:checked ~ .wrapper > .uno,
input[id='dos']:checked ~ .wrapper > .dos,
input[id='tres']:checked ~ .wrapper > .tres,
input[id='cuatro']:checked ~ .wrapper > .cuatro,
input[id='cinco']:checked ~ .wrapper > .cinco,
input[id='sies']:checked ~ .wrapper > .sies,
input[id='siete']:checked ~ .wrapper > .siete
{
    z-index: 7;
}
input[id='uno']:checked ~ .wrapper > .uno:hover > .one > .bonus,
input[id='dos']:checked ~ .wrapper > .dos:hover > .two > .bonus,
input[id='tres']:checked ~ .wrapper > .tres:hover > .three > .bonus,
input[id='cuatro']:checked ~ .wrapper > .cuatro:hover > .four > .bonus,
input[id='cinco']:checked ~ .wrapper > .cinco:hover > .five > .bonus,
input[id='sies']:checked ~ .wrapper > .sies:hover > .six > .bonus,
input[id='siete']:checked ~ .wrapper > .siete:hover > .seven > .bonus
{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: rgba(60,60,60,.6);
}
input[id='uno']:checked ~ .wrapper > .uno:hover > .one > .bonus:hover > .btn,
input[id='dos']:checked ~ .wrapper > .dos:hover > .two > .bonus:hover > .btn,
input[id='tres']:checked ~ .wrapper > .tres:hover > .three > .bonus:hover > .btn,
input[id='cuatro']:checked ~ .wrapper > .cuatro:hover > .four > .bonus:hover > .btn,
input[id='cinco']:checked ~ .wrapper > .cinco:hover > .five > .bonus:hover > .btn,
input[id='sies']:checked ~ .wrapper > .sies:hover > .six > .bonus:hover > .btn,
input[id='siete']:checked ~ .wrapper > .siete:hover > .seven > .bonus:hover > .btn
{
    opacity: 1;
}
.bonus
{
    position: absolute;
    width: 100%;
    height: 0;
    z-index: -1;
    transition-property: all;
    transition-duration: .2s;
    font-size: 0;
}
.btn
{
    margin: 20px auto;
    display: block;
    padding-top: 60px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0,0,0,0);
    border: solid 5px #fff;
    border-radius: 50%;
    width: 150px;
    height: 90px;
    opacity: 0;
    transition-property: opacity, animation;
    transition-duration: .5s;
    box-shadow: 0 0 0 0 rgba(153, 90, 220, .7), inset 0 0 0 0 rgba(153, 90, 220, .7);
    animation: pulse 1.5s infinite cubic-bezier(.6, 0, 0, 1);
}
.btn:hover
{
    color: #fff;
    cursor: pointer;
    animation:none;
}
.exit
{
    display: none;
}
.rec
{
    display: none;
}
input[id='openOne']:checked ~ .wrapper > .uno > .one > .rec,
input[id='openTwo']:checked ~ .wrapper > .dos > .two > .rec,
input[id='openThree']:checked ~ .wrapper > .tres > .three > .rec,
input[id='openFour']:checked ~ .wrapper > .cuatro > .four > .rec,
input[id='openFive']:checked ~ .wrapper > .cinco > .five > .rec,
input[id='openSix']:checked ~ .wrapper > .sies > .six > .rec,
input[id='openSeven']:checked ~ .wrapper > .siete > .seven > .rec
{
    position: absolute;
    height: 600px;
    width: 600px;
    border: solid 1000px rgba(0,0,0,.3);
    margin-left: -1150px;
    margin-top: -1100px;
    z-index: 1000;
    display: block;
    animation: openEnd 1s linear;
}
input[id='openOne']:checked ~ .wrapper > .uno > .one > .rec .exit,
input[id='openTwo']:checked ~ .wrapper > .dos > .two > .rec .exit,
input[id='openThree']:checked ~ .wrapper > .tres > .three > .rec .exit,
input[id='openFour']:checked ~ .wrapper > .cuatro > .four > .rec .exit,
input[id='openFive']:checked ~ .wrapper > .cinco > .five > .rec .exit,
input[id='openSix']:checked ~ .wrapper > .sies > .six > .rec .exit,
input[id='openSeven']:checked ~ .wrapper > .siete > .seven > .rec .exit
{
    display: block;
    cursor: pointer;
}
input[id='openOne']:checked ~ .wrapper > .uno,
input[id='openTwo']:checked ~ .wrapper > .dos,
input[id='openThree']:checked ~ .wrapper > .tres,
input[id='openFour']:checked ~ .wrapper > .cuatro,
input[id='openFive']:checked ~ .wrapper > .cinco,
input[id='openSix']:checked ~ .wrapper > .sies,
input[id='openSeven']:checked ~ .wrapper > .siete
{
    position: relative;
    top: 0;
    animation: openStart 1s linear;
}
input[id='openOne']:checked ~ .wrapper > .uno > .one > .rec > .content,
input[id='openTwo']:checked ~ .wrapper > .dos > .two > .rec > .content,
input[id='openThree']:checked ~ .wrapper > .tres > .three > .rec > .content,
input[id='openFour']:checked ~ .wrapper > .cuatro > .four > .rec > .content,
input[id='openFive']:checked ~ .wrapper > .cinco > .five > .rec > .content,
input[id='openSix']:checked ~ .wrapper > .sies > .six > .rec > .content,
input[id='openSeven']:checked ~ .wrapper > .siete > .seven > .rec > .content
{
    display: block;
    background: #fff;
    height: 100%;
    padding: 20px;
    width: 580px;
}
.content
{
    display: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.exit
{
    float: right;

}
.content > h2
{
    width: 100%;
    color: #777;
}
.content > ul
{
    margin: 10px;
    margin-left: -40px;
    margin-right: 30px;
    float: left;
    width: 200px;
}
.content > ul > li
{
    list-style-position:inside;
}
.content > ul > li > em
{
    float: right;
}
.content > ol
{
    margin-left: -40px;
    float: top;
}
.content > ol:before
{
    content: 'Инструкция';
    color: #f00;
}
.content > ol > li
{
    list-style-position:inside;
}
input[id='closeOne']:checked ~ .wrapper > .uno > .one > .rec,
input[id='closeTwo']:checked ~ .wrapper > .dos > .two > .rec,
input[id='closeThree']:checked ~ .wrapper > .tres > .three > .rec,
input[id='closeFour']:checked ~ .wrapper > .cuatro > .four > .rec,
input[id='closeFive']:checked ~ .wrapper > .cinco > .five > .rec,
input[id='closeSix']:checked ~ .wrapper > .sies > .six > .rec,
input[id='closeSeven']:checked ~ .wrapper > .siete > .seven > .rec
{
    display: none;
    animation: closeStart 1s linear;
}
input[id='closeOne']:checked ~ .wrapper > .uno > .one > .rec .exit,
input[id='closeTwo']:checked ~ .wrapper > .dos > .two > .rec .exit,
input[id='closeThree']:checked ~ .wrapper > .tres > .three > .rec .exit,
input[id='closeFour']:checked ~ .wrapper > .cuatro > .four > .rec .exit,
input[id='closeFive']:checked ~ .wrapper > .cinco > .five > .rec .exit,
input[id='closeSix']:checked ~ .wrapper > .sies > .six > .rec .exit,
input[id='closeSeven']:checked ~ .wrapper > .siete > .seven > .rec .exit
{
    display: none;
}
input[id='closeOne']:checked ~ .wrapper > .uno,
input[id='closeTwo']:checked ~ .wrapper > .dos,
input[id='closeThree']:checked ~ .wrapper > .tres,
input[id='closeFour']:checked ~ .wrapper > .cuatro,
input[id='closeFive']:checked ~ .wrapper > .cinco,
input[id='closeSix']:checked ~ .wrapper > .sies,
input[id='closeSeven']:checked ~ .wrapper > .siete
{
    position: relative;
    top: 0;
    animation: closeEnd 1s linear;
}
input[id='closeOne']:checked ~ .wrapper > .uno > .one > .rec > .content,
input[id='closeTwo']:checked ~ .wrapper > .dos > .two > .rec > .content,
input[id='closeThree']:checked ~ .wrapper > .tres > .three > .rec > .content,
input[id='closeFour']:checked ~ .wrapper > .cuatro > .four > .rec > .content,
input[id='closeFive']:checked ~ .wrapper > .cinco > .five > .rec > .content,
input[id='closeSix']:checked ~ .wrapper > .sies > .six > .rec > .content,
input[id='closeSeven']:checked ~ .wrapper > .siete > .seven > .rec > .content
{
    display: none;
}
input[id='openOne']:checked ~ .wrapper > label:not(.uno),
input[id='openTwo']:checked ~ .wrapper > label:not(.dos),
input[id='openThree']:checked ~ .wrapper > label:not(.tres),
input[id='openFour']:checked ~ .wrapper > label:not(.cuatro),
input[id='openFive']:checked ~ .wrapper > label:not(.cinco),
input[id='openSix']:checked ~ .wrapper > label:not(.sies),
input[id='openSeven']:checked ~ .wrapper > label:not(.siete)
{
    pointer-events:none;
}
@keyframes openStart
{
    0%
    {
        position: relative;
        top: 0;
    }
    50%
    {
        position: relative;
        top: -200px;
        transform: perspective(800px) rotateX(-90deg);
        opacity: 1;
    }
    51%
    {
        opacity: 0;
    }
    80%
    {
        transform: perspective(800px) rotateX(-180deg);
        position: relative;
    }
    100%
    {
        transform: perspective(400px) rotateX(-360deg);
    }
}
@keyframes openEnd
{
    0%
     {
        position: absolute;
        height: 600px;
        width: 300px;
        z-index: 1;
        display: block;
        border: solid 0 rgba(0,0,0,.3);
        margin-left: 0;
        margin-top: 0;
        opacity: 0;
    }
    49%
    {
        position: absolute;
        opacity: 0;
        width: 600px;
        margin-left: -150px;
        height: 600px;
    }
    50%
    {
        height: 600px;
        opacity: 1;
        margin-top: -100px;
    }
    70%
    {
        position: absolute;
        border: solid 0 rgba(0, 0, 0, .3);
        margin-left: -150px;
        margin-top: -400px;
        height: 600px;
        z-index: 1000;
        display: block;
        opacity: 1;
    }
    100%
    {
        position: absolute;
        height: 600px;
        width: 600px;
        border: solid 0 rgba(0, 0, 0, .3);
        margin-left: -150px;
        margin-top: -100px;
        z-index: 1000;
        display: block;
        opacity: 1;
    }
}
@keyframes pulse 
{
    to 
{
        box-shadow: 0 0 0 20px rgba(153, 90, 220, 0), inset 0 0 0 150px rgba(0, 0, 0, 0);
    }
}
@keyframes closeEnd
{
    0%
    {
        transform: perspective(400px) rotateX(-360deg);
    }
    20%
    {
        transform: perspective(800px) rotateX(-180deg);
        position: relative;
    }
    49%
    {
        opacity: 0;
    }
    50%
    {
        position: relative;
        top: -200px;
        transform: perspective(800px) rotateX(-90deg);
        opacity: 1;
    }

    1000%
    {
        position: relative;
        top: 0;
    }
    
}
@keyframes closeStart
{
    0%
    {
        background: #000;
        position: absolute;
        height: 600px;
        width: 600px;
        border: solid 1000px rgba(0,0,0,.3);
        margin-left: -1150px;
        margin-top: -1100px;
        z-index: 1000;
        display: block;
        opacity: 1;
    }
    30%
    {
        position: absolute;
        border: solid 0 rgba(0,0,0,.3);
        margin-left: -150px;
        margin-top: -400px;
        height: 600px;
        z-index: 1000;
        display: block;
        opacity: 1;
    }
    50%
    {
        height: 600px;
        opacity: 1;
        margin-top: -100px;
    }
    51%
    {
        position: absolute;
        opacity: 0;
        width: 600px;
        margin-left: -150px;
        height: 600px;
    }
    100%
    {
        position: absolute;
        height: 600px;
        width: 300px;
        z-index: 1;
        display: block;
        border: solid 0 rgba(0,0,0,.3);
        margin-left: 0;
        margin-top: 0;
    }
}
