section
{
    tranform-style: preserve-3d;
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 50%;
    margin-top: -100px;
}

input
{
    display: none;
}

.photo
{
    width: 100%;
    height: 120px;
}

.box
{
    margin: 10px;
    max-width: 12%;
    display: inline-block;
    transition: all 1s linear;
}

body
{
    background-color: rgba(105,105,105,1);
}

/*ДЛЯ КАРТИНКИ В ПЕРВОЙ ПОЗИЦИИ*/
#first-position:checked ~ section > label > .second-position,
#first-position:checked ~ section > label > .third-position,
#first-position:checked ~ section > label > .fourth-position,
#first-position:checked ~ section > label > .fifth-position,
#first-position:checked ~ section > label > .sixth-position,
#first-position:checked ~ section > label > .seventh-position
{
    transform: perspective(300px) rotateY(315deg) translateX(-50px) rotateX(360deg);
    margin-right: -100px;
}

/*ДЛЯ КАРТИНКИ ВО ВТОРОЙ ПОЗИЦИИ*/
#second-position:checked ~ section > label > .third-position,
#second-position:checked ~ section > label > .fourth-position,
#second-position:checked ~ section > label > .fifth-position,
#second-position:checked ~ section > label > .sixth-position,
#second-position:checked ~ section > label > .seventh-position
{
    transform: perspective(300px) rotateY(315deg) translateX(-50px) rotateX(360deg);
    margin-right: -100px;
}

#second-position:checked ~ section > label > .first-position
{
    transform: perspective(300px) rotateY(45deg) translateX(50px) rotateX(360deg);
}

/*ДЛЯ КАРТИНКИ В ТРЕТЬЕЙ ПОЗИЦИИ*/
#third-position:checked ~ section > label > .fourth-position,
#third-position:checked ~ section > label > .fifth-position,
#third-position:checked ~ section > label > .sixth-position,
#third-position:checked ~ section > label > .seventh-position
{
    transform: perspective(300px) rotateY(315deg) translateX(-50px) rotateX(360deg);
    margin-right: -100px;
}

#third-position:checked ~ section > label > .first-position,
#third-position:checked ~ section > label > .second-position
{
    transform: perspective(300px) rotateY(45deg) translateX(50px) rotateX(360deg);
    margin-left: -100px;
}

/*ДЛЯ КАРТИНКИ В ЧЕТВЕРТОЙ ПОЗИЦИИ*/
#fourth-position:checked ~ section > label > .fifth-position,
#fourth-position:checked ~ section > label > .sixth-position,
#fourth-position:checked ~ section > label > .seventh-position
{
    transform: perspective(300px) rotateY(315deg) translateX(-50px) rotateX(360deg);
    margin-right: -100px;
}

#fourth-position:checked ~ section > label > .first-position,
#fourth-position:checked ~ section > label > .second-position,
#fourth-position:checked ~ section > label > .third-position
{
    transform: perspective(300px) rotateY(45deg) translateX(50px) rotateX(360deg);
    margin-left: -100px;
}

/*ДЛЯ КАРТИНКИ В ПЯТОЙ ПОЗИЦИИ*/
#fifth-position:checked ~ section > label > .sixth-position,
#fifth-position:checked ~ section > label > .seventh-position
{
    transform: perspective(300px) rotateY(315deg) translateX(-50px) rotateX(360deg);
    margin-right: -100px;
}

#fifth-position:checked ~ section > label > .first-position,
#fifth-position:checked ~ section > label > .second-position,
#fifth-position:checked ~ section > label > .third-position,
#fifth-position:checked ~ section > label > .fourth-position
{
    transform: perspective(300px) rotateY(45deg) translateX(50px) rotateX(360deg);
    margin-left: -100px;
}

/*ДЛЯ КАРТИНКИ В ШЕСТОЙ ПОЗИЦИИ*/
#sixth-position:checked ~ section > label > .seventh-position
{
    transform: perspective(300px) rotateY(315deg) translateX(-50px) rotateX(360deg);
    margin-right: -100px;
}

#sixth-position:checked ~ section > label > .first-position,
#sixth-position:checked ~ section > label > .second-position,
#sixth-position:checked ~ section > label > .third-position,
#sixth-position:checked ~ section > label > .fourth-position,
#sixth-position:checked ~ section > label > .fifth-position
{
    transform: perspective(300px) rotateY(45deg) translateX(50px) rotateX(360deg);
    margin-left: -100px;
}

/*ДЛЯ КАРТИНКИ В СЕДЬМОЙ ПОЗИЦИИ*/
#seventh-position:checked ~ section > label > .first-position,
#seventh-position:checked ~ section > label > .second-position,
#seventh-position:checked ~ section > label > .third-position,
#seventh-position:checked ~ section > label > .fourth-position,
#seventh-position:checked ~ section > label > .fifth-position,
#seventh-position:checked ~ section > label > .sixth-position
{
    transform: perspective(300px) rotateY(45deg) translateX(50px) rotateX(360deg);
    margin-left: -100px;
}
